/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Dancing+Script:wght@400;700&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; background-color: var(--background-color);}  
.h1, .h2, .h3, .h4 { font-family: 'Dancing Script', cursive; }
:root {
    --primary-color: #FFD700; /* Gold */
    --secondary-color: #FF69B4; /* Hot Pink */
    --accent-color: #8A2BE2; /* Blue Violet */
    --background-color: #f1e0e5; /* Lavender Blush */
    --text-color: #333333; /* Dark Gray */
    --mdc-theme-surface: #f8bbd0; /* Light Pink */
    --mdc-theme-on-surface: #4a148c; /* Deep Purple */
    --mdc-theme-primary: #ad1457; /* Vivid Pink */
    --mdc-theme-on-primary: #ffffff; /* White */
    
    /* Image Styles */
    --image-width: 100%; /* Responsive width, adjust as necessary */
    --image-max-width: 20rem; /* Max width to maintain uniformity */
    --image-height: auto; /* Maintain aspect ratio */
    --border-radius: 1.5rem; /* Rounded corners for the 'bubbly' look */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    --transition-effect: transform 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated {
  opacity: 0;
  visibility: hidden;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slideInFromLeft {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slideInFromRight {
  animation-name: slideInFromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


