<div class="container">
  <ng-container>
      <div class="auth-container">
        <h2 class="auth-header">Admin Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="auth-frm">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="loginForm.get('username')?.invalid">Username is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
  </ng-container>
  
  <br />
</div>     