.header{
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    background-color: var(--mdc-theme-on-surface);
}
a{
    text-decoration: none;
    color: var(--primary-color);
}