<div class="contact-page">
<mat-toolbar>
  <span>Contact Meredith's Style Haven!</span>
</mat-toolbar>

  <div class="hero-image">
    <div class="overlay-text">
      <h1 class="">Discover Your Best Self</h1>
      <p>Join Meredith on a style journey that celebrates you.</p>
    </div>
  </div>

  <mat-card class="bio-card">
    <mat-card-header>
      <div mat-card-avatar class="bio-header-image"></div>
      <mat-card-title class="mb-1">Contact Meredith Today</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-list>
        <mat-list-item>Email: meredith@example.com</mat-list-item>
        <mat-list-item>Phone: (123) 456-7890</mat-list-item>
      </mat-list>
      <div id="socials" class="d-flex justify-content-evenly">
        <a href="https://facebook.com" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <button id="booking" class="btn btn-outline-dark" type="button" (click)="aptForm()">Schedule an Appointment Now</button>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-subtitle class="mb-2 text-center">Don't hesitate, your journey awaits!</mat-card-subtitle>
    </mat-card-footer>
  </mat-card>

  <div style="height: 200px;"></div>

  <div class="fun-facts">
    <p class="mt-3 text-center text-wrap">Meredith's Team is here to ensure the best service to all of our clients, to get you feeling your best. We love feed back to learn how to better our service to you.</p>
    <a class="btn btn-outline-dark" href="https://search.google.com/local/writereview?placeid=[YOUR_PLACE_ID_HERE]" target="_blank" rel="noopener">
      Leave Us a Review on Google
    </a>
  </div>
</div>



<!-- <div class="contact-cta">
  <h2>Ready to Transform Your Style?</h2>
  <p>Let's chat about your style goals and dreams. Get in touch today!</p>
  <button mat-raised-button color="accent">Contact Meredith</button>
</div> -->