<mat-tab-group (selectedIndexChange)="selectedTab = $event">
  <mat-tab label="New Img Group"></mat-tab>
  <mat-tab label="Add an Image"></mat-tab>
  <mat-tab label="More Manage"></mat-tab>
</mat-tab-group>


<div [ngSwitch]="selectedTab">
  <div *ngSwitchCase="0">
    <!-- Form Start -->
      <form [formGroup]="gForm" (ngSubmit)="submitGroup()">
        <div class="d-flex justify-content-center">
          <div class="row p-3 m-2">
            <div class="form-row">
              <mat-label>Title</mat-label>
              <input matInput formControlName="client_name" placeholder="Client's Name">
              <mat-error *ngIf="gForm.get('client_name')?.invalid">Client Name is required</mat-error>
            </div>
  
            <div class="form-row">
              <mat-label>Client Email</mat-label>
              <input matInput formControlName="client_email"   placeholder="Client's Email"/>
            </div>
  
            <div class="form-row">
              <mat-label>Client Social</mat-label>
              <input matInput formControlName="client_social"  placeholder="Client's Social">
            </div>
  
            <div class="form-row">
              <mat-label>Style Description</mat-label>
              <input matInput formControlName="style_description"  placeholder="Description of Style">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-evenly">
          <button mat-raised-button type="submit">Submit</button>
          <button mat-raised-button type="button" color="warn">Reset</button>
        </div>
      </form>
    <!-- Form End -->
  </div>
  <div *ngSwitchCase="1">Add an Image to a Group</div>
  <div *ngSwitchCase="2">More Manage Options</div>
</div>