<mat-tab-group (selectedIndexChange)="selectedTab = $event">
  <mat-tab label="New Img Group"></mat-tab>
  <mat-tab label="Add an Image"></mat-tab>
  <mat-tab label="App Tracking"></mat-tab>
  <mat-tab label="App Utilities"></mat-tab>
</mat-tab-group> 


<div [ngSwitch]="selectedTab"> 
  <div *ngSwitchCase="0"> 
  <app-admin-groups></app-admin-groups>
  </div>
  <div *ngSwitchCase="1">
    <app-admin-image></app-admin-image>
  </div>
  <div *ngSwitchCase="2">
    <app-admin-tracking></app-admin-tracking>
  </div>
  <div *ngSwitchCase="3">
    <app-admin-tracking></app-admin-tracking>
  </div>
</div>